{
    "token":"NlYXnEOaBTJGFyfauWu1ktF_BK4-.NlYXnEOaBTJGFyfauWu1ktF_BK4",
    "prefix":"!!y",
    "idbot": "388485217112817684",
    "idcanalverificados":"389901794303803412",
    "idcanalreportes":"389623701194276864",
    "rolname":"Administrador"
    
}